header {padding: 20px 175px; 
display: flex;
justify-content: space-between;
align-items: center;}

.full-name {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
text-align: left;
Padding-right: 60px;
color:#547A72;
letter-spacing: 2px;}

.topnav a{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color:#547A72;
    text-align: right;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
}

.topnav a:hover{ 
    background-color: #547A72;
    color: #FEFEFF;
    border-radius: 5px;
}


body {background-color: #FEFEFF;
   
    }


h1 {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    font-weight:bolder;
    text-align: left;
   color: #547A72;
   letter-spacing: 1px;
    margin: 1px;}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.about,.invite {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #547A72; 
        max-width: 400px;
        border-radius: 5px;
        margin: 3px;
        text-align: left;
        padding-top: 20px; 
      
    }
.invite{padding-bottom: 10px;}

img {
width: 500px; 
float: left;
max-width: 100%;} 


.image{
    flex-basis: 40%;
    border-radius: 25px;
    position:absolute;
    z-index:3;
    float: left;
}

.text {
    position:relative;
    z-index: -1;
    padding: 50px 200px 80px 400px;
    float:right;
    background-color: #F5EDAA;
}

button{
    display:inline;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 15px 70px 15px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.download{

}

.download a:hover{
    background-color: #F5F5F5;
    color: white;
}

.my-work{

}

.yellow-line{
    background-color: #F5F5F5;
    border: 2px solid #F5F5F5;
    margin-left: 40px;
    margin-right: 40px
    
}

.Icon{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    position: absolute center;
}

.ig, .in, .mail {width: 30px; padding:10px;
    
}


