header {padding: 20px 175px; 
display: flex;
justify-content: space-between;
align-items: center;}

.full-name {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
text-align: left;
Padding-right: 60px;
color:#547A72;
letter-spacing: 2px;}

.topnav a{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color:#547A72;
    text-align: right;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
}

.topnav a:hover{ 
    background-color: #547A72;
    color: #FEFEFF;
    border-radius: 5px;
}


body {background-color: #FEFEFF;
   
    }


h1 {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    font-weight:bolder;
    text-align: left;
   color: #547A72;
   letter-spacing: 1px;
    margin: 1px;}

.container{                                                                                                             
    display:grid;
    padding-bottom: 60px;
    width: 1200px;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat(5 1fr) ;
}
.back{
    background-color: #547A72;
    border: 125px solid #547A72;
    height: 150px;
    grid-column: 1/2;
    
}

.about,.invite {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #547A72; 
        max-width: 400px;
        border-radius: 5px;
        margin: 3px;
        text-align: left;
        padding-top: 20px; 
      
    }
.invite{padding-bottom: 10px;}

.back, .happy-sono{
grid-row: -2/4; 
}

.happy-sono{
     width: 450px;
     grid-column: 1/5;
     grid-row: 1/5;
     padding-left:250px;
}

.text {
    background-color: #F5EDAA;
    padding: 70px 130px; 
    grid-column: 3/5;
    grid-row: ;
}


button{
    display:inline;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #547A72;
    border-radius: 15px;
    padding: 15px 50px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.download{

    background-color: #547A72;
    color: white;
}

.download:hover{
    background-color: #7faba1;
    border:2px solid #7faba1;
    color: white;
}

.page-change{
    color: #547A72;
}

.page-change:hover{
    background-color: #7faba1;
    border:2px solid #7faba1;
    color: white;
}

.yellow-line{
    background-color: #F5F5F5;
    border: 2px solid #F5F5F5;
    margin-left: 40px;
    margin-right: 40px;
    
}

.Icon{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    position: absolute center;
}

.ig, .in, .mail {width: 30px; padding:10px;
    
}


